<h1>Playground</h1>
<hr/>
<div>This page has no layout. I'm using it to test my integrations with back-end only.</div>
<div>I'll delete this as soon as possible.</div>
<hr/>
<div *ngIf="!loaded; else afterLoad">
  Loading...
</div>
<ng-template #afterLoad>
  <h2>List of products:</h2>
  <p *ngIf="!productsList.length; else productsTable">
    The list of products is empty!
  </p>
</ng-template>
<ng-template #productsTable>
  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Fabrication Cost</th>
      <th>Selling Price</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    <tr *ngFor="let product of productsList">
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.fabrication_cost }}</td>
      <td>{{ product.selling_price }}</td>
      <td>{{ product.created_at }}</td>
      <td>{{ product.updated_at }}</td>
    </tr>
  </table>
</ng-template>